Is this project still going?

Is this project still going?  I tried to go to [libswift.org](http://libswift.org/), but it didn't resolve.

Meanwhile, the protocol became an Internet standard and has [three RFCs](https://datatracker.ietf.org/group/ppsp/documents/): RFC 6972, RFC 7574, RFC 7846.

Unfortunately, this repository and its former website libswift.org do not resolve anymore. However, by doing a Google search I managed to find some other newer implementations like this one in Go: https://github.com/livepeer/go-PPSPP.

Let me know if you find more information about this, I am also curious. I used to work with this protocol while I was a research assistant in my university while doing a master in computer science.

Also check a new version of this repo: https://github.com/libswift/libswift.

Thank you for those links!  I'll take a look at them.